body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to bottom, #74b9ff, #dfe6e9);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.cloud {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: moveClouds linear infinite;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
}

.cloud::before {
  top: -70%;
  left: -30%;
  width: 150%;
  height: 120%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cloud::after {
  top: 30%;
  left: -50%;
  width: 60%;
  height: 60%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cloud:nth-child(1) {
  width: 240px;
  height: 130px;
  top: 50px;
  left: -300px;
  animation-duration: 100s;
}

.cloud:nth-child(2) {
  width: 220px;
  height: 120px;
  top: 200px;
  left: -400px;
  animation-duration: 120s;
}

.cloud:nth-child(3) {
  width: 200px;
  height: 110px;
  top: 350px;
  left: -350px;
  animation-duration: 110s;
}

.cloud:nth-child(4) {
  width: 260px;
  height: 140px;
  top: 500px;
  left: -500px;
  animation-duration: 130s;
}

@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(160vw);
  }
}

@keyframes fallSnows {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes fallrains {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.snow {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fallSnows linear infinite;
}

.rain {
  position: absolute;
  background: #00aaff;
  border-radius: 50%;
  width: 5px;
  height: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fallrains linear infinite;
}

.weather-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}



@keyframes moveSun {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80vw) translateY(-10vh);
  }
  100% {
    transform: translateX(160vw);
  }
}

.sun {
  position: absolute;
  top: 10%;
  left: -20%;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, #fbc531, #e1b12c);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 223, 0, 0.6), 0 0 40px rgba(255, 223, 0, 0.4);
  z-index: -1;
  animation: moveSun 45s linear infinite;
}

.sun::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, transparent 60%, rgba(255, 223, 0, 0.3) 100%);
  border-radius: 50%;
  z-index: -2;
}

.weather-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}


.weather-card h1 {
  font-weight: 700;
  color: #2d3436;
}

.weather-icon {
  font-size: 80px;
  color: #0984e3;
}

.temperature {
  font-size: 50px;
  font-weight: 700;
}

.details {
  font-size: 18px;
  margin-top: 10px;
}

.btn-primary {
  border-radius: 30px;
  padding: 10px 30px;
}

.input-group input {
  border-radius: 30px 0 0 30px;
}

.input-group .btn {
  border-radius: 0 30px 30px 0;
}

.error {
  color: #d63031;
  font-weight: 600;
}

#forecast-result {
  margin-top: 20px;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.forecast-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.forecast-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.forecast-card .weather-icon {
  font-size: 40px;
  color: #0984e3;
}

.forecast-card.sunny .weather-icon {
  color: #fbc531;
}

.forecast-card.rainy .weather-icon {
  color: #0984e3;
}

.forecast-card.cloudy .weather-icon {
  color: #7f8c8d;
}

.forecast-card.snowy .weather-icon {
  color: #dfe6e9;
}

.forecast-card .temperature {
  font-size: 24px;
  font-weight: 700;
}

.forecast-card .details {
  font-size: 14px;
  margin-top: 5px;
}

body.sunny {
  background: linear-gradient(to bottom, #74b9ff, #dfe6e9);
}

body.cloudy {
  background: linear-gradient(to bottom, #74b9ff, #dfe6e);
}

body.rainy {
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

body.snowy {
  background: linear-gradient(to bottom, #dfe6e9, #b2bec3);
}


.cloud,
.snowflake,
.raindrop,
.sun {
  display: none;
}


body.cloudy .cloud {
  display: block;
}

body.rainy .raindrop {
  display: block;
}

body.snowy .snowflake {
  display: block;
}

body.sunny .sun {
   display: block;
}

@keyframes fallSnowflakes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.snowflake {
  animation: fallSnowflakes 10s linear infinite;
}

.color-class {
  color: #d63031;
  font-weight: 600;
}

.weather-icon {
  font-size: 80px;
  color: #0984e3;
}

.temperature {
  font-size: 50px;
  font-weight: 700;
}

.details {
  font-size: 18px;
  margin-top: 10px;
}

.btn-primary {
  border-radius: 30px;
  padding: 10px 30px;
}

.input-group input {
  border-radius: 30px 0 0 30px;
}

.input-group .btn {
  border-radius: 0 30px 30px 0;
}

.error {
  color: #d63031;
  font-weight: 600;
}

#forecast-result {
  margin-top: 20px;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.forecast-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.forecast-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.forecast-card .weather-icon {
  font-size: 40px;
  color: #0984e3;
}

.forecast-card.sunny .weather-icon {
  color: #fbc531;
}

.forecast-card.rainy .weather-icon {
  color: #0984e3;
}

.forecast-card.cloudy .weather-icon {
  color: #7f8c8d;
}

.forecast-card.snowy .weather-icon {
  color: #dfe6e9;
}

.forecast-card .temperature {
  font-size: 24px;
  font-weight: 700;
}

.forecast-card .details {
  font-size: 14px;
  margin-top: 5px;
}

body.sunny {
  background: linear-gradient(to bottom, #74b9ff, #dfe6e9);
}

body.cloudy {
  background: linear-gradient(to bottom, #74b9ff, #dfe6e);
}

body.rainy {
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

body.snowy {
  background: linear-gradient(to bottom, #dfe6e9, #b2bec3);
}


.cloud,
.snowflake,
.raindrop,
.sun {
  display: none;
}


body.cloudy .cloud {
  display: block;
}

body.rainy .raindrop {
  display: block;
}

body.snowy .snowflake {
  display: block;
}

body.sunny .sun {
   display: block;
}

@keyframes fallSnowflakes {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.snowflake {
  animation: fallSnowflakes 10s linear infinite;
}

.color-class {
  color: #d63031;
  font-weight: 600;
}
